@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../node_modules/trix/dist/trix.css";

/* This file is for your main application CSS */

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

.sriracha {
  font-family: "Sriracha", cursive;
}

/* trix-editor {
  border: none;
} */
trix-toolbar {
  padding: 1rem;
}
trix-toolbar .trix-button-group {
  margin-bottom: 0px;
}
@media (min-width: 640px) {
  trix-toolbar {
    padding: 1.5rem;
  }
}
