<div>
  <ResolvdWeb.Nav.sidebar view={@socket.view} current_user={@current_user} />

  <div class="sm:pl-16 xl:pl-64 transition-width duration-300">
    <!-- <ResolvdWeb.Nav.top current_user={@current_user} /> -->
    <main class="py-5">
      <div class="px-4 sm:px-6">
        <.flash_group flash={@flash} />
        <%= @inner_content %>
      </div>
    </main>
  </div>
</div>
